.forecastDays {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    align-items: center;
    border: 1px solid #243644;
    border-radius: 8px;
}

.forecastDays h2 {
    font-size: 2rem;
}

.dayTemp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 10px;
    border-radius: 8px 0 0 8px;
    gap: 16px;
    background-color: #243644;
}

.dayName h2 {
    font-size: 2rem;
}

.dayTemp h2 {
    display: flex;
    color: #fff;
}

.dayTemp img {
    width: 40px;
}

.dayTemp > span {
    display: flex;
    align-items: center;
}

.weatherIcon {
    place-self: center;
    width: 40px;
}

.dayName {
    place-self: center;
    text-align: center;
}

@media (width <= 1000px){
    .dayTemp h2 {
        font-size: 2rem;
    }
}

@media (width <= 680px){
    .forecastDays {
        grid-template-columns: 1fr;
        justify-content: center;
        border-radius: 8px 8px 0 0;
        gap: 8px;
    }

    .dayTemp {
        gap: 8px;
    }

    .dayTemp h2, .dayName h2 {
        font-size: 1.5rem;
    }

    .dayTemp img {
        width: 32px;
    }
}