.inputWid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.searchBar {
    justify-self: end;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 1.5rem;
    border-radius: 4px 0 0 4px;
    border: none;
    color: #98A6A9;
}

.searchBTN {
    border: none;
    border-left: 2px solid #11212D;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

.searchBTN:hover {
    background-color: #CCD0CF;
}

@media (width <= 600px){
    .searchBar {
        font-size: 1.2rem;
    }
}