.inicialTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    height: 80dvh;
}

@media (width <= 1500px){
    .inicialTitle {
        font-size: 2.5rem;
    }
}

@media (width <= 1200px){
    .inicialTitle {
        font-size: 2rem;
    }
}

@media (width <= 600px){
    .inicialTitle {
        font-size: 1.5rem;
    }
}